.upload-container {
  padding: 20px;
  border: 1px solid #ccc;
  width: 400px;
  margin: auto;
  margin-top: 50px;
  border-radius: 8px;
  text-align: center;
}

input {
  margin-bottom: 10px;
}

button {
  padding: 8px 16px;
}

.resultado {
  margin-top: 20px;
  color: green;
}
