
<!-- Header superior -->
<div class="top-header">
  <div class="left-info">
    <span><mat-icon>email</mat-icon> icacolegio&#64;gmail.com</span>
    <span><mat-icon>phone</mat-icon> 978 679 109</span>
  </div>

  <div class="right-social">
    <!-- Redes sociales -->
    <a href="https://www.facebook.com/share/1A8tY3eLNi/?mibextid=wwXIfr" target="_blank" aria-label="Facebook">
      <img src="facebook-color-svgrepo-com.svg" alt="Facebook" width="22" height="22" />
    </a>
    <a href="https://youtube.com" target="_blank" aria-label="YouTube">
      <img src="youtube-color-svgrepo-com.svg" alt="YouTube" width="22" height="22" />
    </a>

    <!-- Botón de login -->
    <a routerLink="/login" class="login-button">
      Iniciar sesión
    </a>
  </div>
</div>
<mat-toolbar color="primary">
  <img src="logo.jpg" alt="Logo" class="logo-img" />
  <span class="logo">ILUSTRE COLEGIO DE ABOGADOS DE PUNO</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/">Inicio</a>
  <a mat-button routerLink="/eventos">Eventos</a>
  <a mat-button routerLink="/cursos">Cursos</a>
  <a mat-button routerLink="/servicios">Servicios</a>
  <a mat-button routerLink="/contacto">Contacto</a>
</mat-toolbar>
